/* @override
http://localhost/portfolio-v2/css/layout/layout-third.css */
#page-wrapper {
	padding: 0 5em !important;
}

#masthead {
	position: absolute;
	top: 0;
	left: 0;
	float: none;
	clear: none;
	overflow: hidden;
	margin: 0;
	padding: 0;
	width: 44.6em !important;
	height: 19.3em;
	border-right: 1px solid #ddd;
}

#main-foot {
	position: absolute;
	top: 19.3em;
	bottom: 0 !important;
	left: 0;
	float: none;
	clear: none;
	margin-top: 0;
	padding-top: 2em;
	padding-bottom: 0;
	width: 44.6em !important;
	height: auto !important;
	border-right: 1px solid #ddd;
}

#main-container {
	position: absolute;
	top: 0;
	left: 44.6em;
	overflow: auto;
	margin-top: 0;
	width: auto;
	height: 100%;
	-webkit-overflow-scrolling: touch;
}

#main-container-inner{
	
}

.sub-template #main-container {
	left: 44em;
}

.sub-template #page-wrapper {
	padding: 0 !important;
}

#teaser-list {
	padding-top: 0;
}

.teaser > .gc {
	display: table-cell;
	width: 50%;
	vertical-align: top;
}

.teaser > .gc:first-child {
	float: left;
	clear: both;
	margin-left: -9.5%;
	width: 70%;
	vertical-align: top;
}

.teaser > .gc:last-child {
	float: left;
	clear: both;
	padding: 4% 8% 4% 0;
	width: 100%;
	text-align: justify;
}

@media screen and (min-width: 920px) and (min-height: 700px) {
	#masthead {
	height: 31.1em;
}

#main-foot {
	position: absolute;
	top: 31.1em;
	bottom: 0 !important;
}

}
